extend __core__/default
block content
	+panel().light.center-justify
		i.icon-info.biggun
		div.clear-wrap
			h3 Next step:  Accept your invite
			p You should receive an e-mail from your administrator with a link.  Click that link to authorize your device.
		div.big-wrap
			p Alternatively, you can use an Activation Code provided to you by your manager.
			p: a().passcode-show Activation Code
			div.passcode-field(style="max-width: 500px")
				p
					+input("Activation Code")
					+button({title: "Activate", url: "index.html", position: "center"})
				
block script 
	script.
		$('.passcode-show').on('click', function(e) {
			e.preventDefault();
			$(".passcode-field").addClass('show');
		});
		
