extend __core__/default
block content
	panel-wrapper.light.border-bottom
		panel-inner(whitespace="30")
			prime-segment
				x-major
					a(href="index.html")
						h4 
							i.icon-arrow-left
							| Nakatomi Plaza
				x-minor
					div.HAL
	panel-wrapper.light
		panel-inner(whitespace="10")
			- var titles=["Main Lobby", "Roof", "Parking Garage"]
			- var i = 0
			+loop(3)
				div.wrap
					prime-segment
						x-major
							i.icon-lock.homescreen-icon
							a()= titles[i]
						x-minor.action-icons
							.rack
								i.icon-star.favorite-icon
								div.open-trigger.collapsible.trigger(data-target="details" + i)
									i.icon-open-close.trigger-icon
					div(id="details" + i).collapsible.drawer
						div.rack.compress.with-dividers.border-wrap
							a Comelit
							a Test
				- i++


block script
	script.
		$('.icon-star').on('click', function() {
			$(this).toggleClass('selected');
		})