extend __core__/default
block content
	panel-wrapper.light.border-bottom
		panel-inner(whitespace="30")
			prime-segment
				x-major
					+logo("PDK")
				x-minor
					div.HAL
	panel-wrapper.light
		panel-inner(whitespace="10")
			div.wrap
				.title 
					i.icon-star.homescreen-icon
					| Favorites
			- var locations = ["Nakatomi Plaza"]
			+loop(1)
				div.wrap
					prime-segment
						x-major
							.title
								i.icon-business.homescreen-icon
								a(href="doors.html") Nakatomi Plaza
						x-minor.action-icons
							.rack
								div.open-trigger.collapsible.trigger(data-target="details" + i)
									i.icon-open-close.trigger-icon
					div(id="details" + i).collapsible.drawer
						div.rack.compress.with-dividers.border-wrap
							a.modal.trigger(data-target="activateModal") Activate
				- i++
		div#activateModal.modal.window
			h2 Activation
			div.clear-wrap
				+input('Enter Activation Code')
			+button({title: "Activate", position: "right"})#activateBtn


block script
	script.
		$('#activateBtn').on('click', function(e) {
			e.preventDefault();
			$('.icon-open-close.trigger-icon').click();
			$('.close-modal').click();
			$('.collapsible.drawer .rack').html('<i class="icon-checkmark activated-checkmark"></i> Activated');
		});
		
		
		
			
